<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>popconlink.png</string>
			<key>AppleScript File</key>
			<string>popconlinkmd.applescript</string>
			<key>Title</key>
			<string>ConLinkMD</string>
			<key>Long Running</key>
			<true/>
			<key>Restore Pasteboard</key>
			<true/>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.yetanothermess.popclip.extension.popconlinkmd</string>
	<key>Extension Name</key>
	<string>ConLinkMD</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
